@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #404040;
    margin: 0px;
}

.Headder {
    background-color: #1f1f1f;
    margin: 0px;
    height: 200px;
    width: flex;
}

.navBarDots {
    width: flex;
    height: 50px;
    background-image: radial-gradient(#7d77d7 1px, transparent 0);
    background-image: linear-gradient();
    background-size: 10px 10px;
    background-position: -3px -3px;
    position: relative;
    margin: 0px;
  }

.navBarTopGradient {
    margin: 0px;
    width: flex;
    height: 60px;
    background-image: linear-gradient(#7d77d7, #1f1f1f);
    opacity: 0.2;
}

.kittenzexeMain {
    font-family: Poppins;
    color: #7d77d7;
    font-size: 100px;
    position: relative;
    font-weight: bolder;
    left: 20px;
    bottom: 25px;
    margin: 0;
    width: 10%;
}
.kittenzexeLower {
    font-family: Poppins;
    color: #b0d6e9;
    font-size: 50px;
    position: relative;
    font-weight: bolder;
    left: 10px;
    bottom: 30px;
    margin: 0;
    width: 10%;
}

.caat {
    text-align: center;
    width: flex;
    height: flex;
}

.ul {
    list-style-type: none;
    bottom: 100px;
    overflow: hidden;
    width: flex;
    height: 100px;
    
  }
  
li {
    float: right;
    background-color: #1f1f1f;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-family: Poppins;
    font-weight: bold;
  }
  
li a:hover:not(.active) {
    background-color: #111;
  }
  
.active {
    background-color: #7d77d7;
  }